[project]
	description = A simple BATTLESHIP version
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dwlo
[access "refs/for/refs/*"]
	read = group user/Dwlo
	push = group user/Dwlo
	label-Code-Review = -2..+2 group user/Dwlo
	label-Verified = -1..+1 group user/Dwlo
	rebase = group user/Dwlo
	removeReviewer = group user/Dwlo
	submit = group user/Dwlo
[access "refs/heads/*"]
	read = group user/Dwlo
	create = group user/Dwlo
	push = +force group user/Dwlo
	pushMerge = group user/Dwlo
[access "refs/tags/*"]
	push = +force group user/Dwlo
	pushTag = group user/Dwlo
	pushSignedTag = group user/Dwlo
